@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma-Bold.eot");
  src: local("Tahoma Bold"), local("Tahoma-Bold"),
    url("../fonts/Tahoma-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Tahoma-Bold.woff2") format("woff2"),
    url("../fonts/Tahoma-Bold.woff") format("woff"),
    url("../fonts/Tahoma-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma.eot");
  src: local("Tahoma"),
    url("../fonts/Tahoma.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Tahoma.woff2") format("woff2"),
    url("../fonts/Tahoma.woff") format("woff"),
    url("../fonts/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Typography */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 24px;
  &._lg {
    font-size: 32px;
  }
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  // line-height: 1.8em;
  &._lg {
    font-size: 16px;
  }
}

@mixin typography-1160 {
  h1 {
    font-size: 45px;
  }
  h2 {
    &._lg {
      font-size: 30px;
    }
  }
}
@mixin typography-1025 {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
  }
  h2 {
    &._lg {
      font-size: 28px;
    }
  }
}
@mixin typography-940 {
}
@mixin typography-840 {
  h1 {
    font-size: 38px;
  }
  h2 {
    &._lg {
      font-size: 24px;
    }
  }
}
@mixin typography-768 {
  h1 {
    font-size: 34px;
  }
  h2 {
    &._lg {
      font-size: 22px;
    }
  }
}
@mixin typography-670 {
  h1 {
    font-size: 30px;
  }
  h2 {
    &._lg {
      font-size: 20px;
    }
  }
}
@mixin typography-580 {
}
@mixin typography-460 {
  h1 {
    font-size: 28px;
  }
  h2 {
    &._lg {
      font-size: 18px;
    }
  }
  h3 {
    font-size: 16px;
  }
}
@mixin typography-370 {
  h1 {
    font-size: 24px;
  }
  h2 {
    &._lg {
      font-size: 16px;
    }
  }
  h3 {
    font-size: 14px;
  }
  p {
    &._lg {
      font-size: 14px;
    }
  }
}
