@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma-Bold.eot");
  src: local("Tahoma Bold"), local("Tahoma-Bold"),
    url("../fonts/Tahoma-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Tahoma-Bold.woff2") format("woff2"),
    url("../fonts/Tahoma-Bold.woff") format("woff"),
    url("../fonts/Tahoma-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma.eot");
  src: local("Tahoma"),
    url("../fonts/Tahoma.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Tahoma.woff2") format("woff2"),
    url("../fonts/Tahoma.woff") format("woff"),
    url("../fonts/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// /* Typography */
// h1 {
//   font-size: 52px;
// }
// h2 {
//   font-size: 48px;
// }
// h3 {
//   font-size: 34px;
// }
// h4 {
//   font-size: 22px;
// }
// h5 {
//   font-size: 20px;
// }
// h6 {
//   font-size: 18px;
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $font;
//   font-weight: 700;
//   line-height: 1.2em;
// }

// p {
//   line-height: 1.8em;
// }
