$primary: #218FC7;
$primary-1: #155f7b;
$black: #101010;
$black-2: #707070;
$black-3: #484848;
$black-4: #F7F8FA;
$black-5: #525252;
$black-6: #F6F6F6;
$white: #fff;

$blue-light:#E0EFFA;
$green: #91b454;
$orange: #e38416;
$magenta: #a817bd;

$shadowEase: 0 3px 30px rgba($black, 0.05);
$shadowEase-2: 2px 6px 10px rgba($black , 0.18);

$font: "Tahoma", "Verdana", sans-serif;
