$primary: #0090ca;
$primary-1: #155f7b;
$black: #101010;
$black-3: #737373;
$white: #fff;

$green: #91b454;
$orange: #e38416;
$magenta: #a817bd;

$shadowEase: 0 3px 30px rgba($black, 0.05);

$font: "Tahoma", "Verdana", sans-serif;
