.slider {
  padding: 50px 0;
  &__inner {
    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 25px;

      &-title {
        font-size: 40px;
        margin-bottom: 1em;
        width: 100%;

        small {
          font-size: 0.68em;
          font-weight: 400;
        }
        h3 {
          font-size: inherit;
          line-height: 1.4em;
        }
      }
    }

    & &-swiper {
      position: relative;

      .swiper {
        margin: 0 -25px;
        padding: 10px 25px 50px 25px;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 30px;
          height: 100%;
          z-index: 1;
          background: linear-gradient(90deg, $white, transparent);
        }
        &::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 30px;
          height: 100%;
          background: linear-gradient(270deg, $white, transparent);
          z-index: 2;
        }
        &-arrow-prev,
        &-arrow-next {
          position: absolute;
          top: 40%;
          font-size: 20px;
          width: 2em;
          height: 2em;
          z-index: 1;
          background: rgba($black, 0.5);
          border-radius: 50%;
          transition: 0.2s ease-out;
          opacity: 0.5;
          color: $white;

          //display
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            opacity: 1;
          }
          &.swiper-button-disabled {
            opacity: 0;
          }

          .custIcon {
            pointer-events: none;
            &:before {
              border-width: 3px;
            }
          }
        }
        &-arrow-prev {
          left: 0;
          transform: translateX(calc(-100% - 10px));
        }
        &-arrow-next {
          right: 0;
          transform: translateX(calc(100% + 10px));
        }
      }
    }
  }
  &__item {
    display: flex !important;
    flex-direction: column;

    background: $white;
    box-shadow: $shadowEase;
    border-radius: 16px;
    overflow: hidden;
    height: unset !important;

    &-content {
      // /displayt
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px 15px 25px 15px;
      flex-grow: 1;

      font-size: 16px;
      line-height: 1.2;

      small {
        font-size: inherit;
        border-width: 400;
        margin-top: auto;
      }
    }
    &-badge {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-size: 14px;
      gap: 1em;

      &._primary {
        &:before {
          background: $primary;
        }
      }
      &._green {
        &:before {
          background: $green;
        }
      }
      &._orange {
        &:before {
          background: $orange;
        }
      }
      &:before {
        content: "";
        width: 2.4em;
        height: 1.2em;
        border-radius: 2em;
        background: rgba($black, 0.4);
      }
    }
    &[hidden] {
      display: none !important;
      visibility: none !important;
    }
  }
}
.grid {
  margin: auto 0;
  padding: 20px 0 40px;
  &__inner {
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }
  &Item {
    width: calc(25% - 15px);
    max-width: 275px;
    background: rgba($white, 0.08);
    font-size: 14px;
    border-radius: 1.1em;
    border: 1px solid $primary;
    &__image {
      margin: -1px -1px 0;
      border-radius: 1.1em 1.1em 0 0;
      overflow: hidden;
    }
    &__content {
      &-title {
        position: relative;
        font-size: 16px;
        line-height: 130%;
        padding: 0.6em 1em;
        //display
        display: flex;
        flex-direction: column;
        color: $primary;

        strong {
          font-size: 1.25em;
          line-height: 130%;
        }

        &:after {
          position: absolute;
          content: "";
          top: 100%;
          left: 5%;
          width: 90%;
          height: 1px;
          background: rgba($white, 0.5);
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        font-size: inherit;
        gap: 1em;
        padding: 1em;
      }
      &-body {
        display: flex;
        align-items: flex-start;
        gap: 0.6em;
        line-height: 1.15em;

        &-ico {
          width: 1.3em;
          height: 1.3em;

          svg,
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.form {
  margin: auto 0;
  padding: 25px 0 40px;
  &__inner {
    &-body {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-info {
      width: calc(50% - 10px);
      max-width: 560px;
      position: relative;
      border-radius: 8px;
      &::before {
        content: "";
        width: 1000%;
        height: 100%;
        background: $black-6;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        border-radius: inherit;
      }
      h3 {
        font-weight: 400;
        padding: 0.8em 2em 0.8em 0;
      }
    }
    &-content {
      width: calc(50% - 10px);
      max-width: 575px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      &-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 15px;
        p {
          color: $black-5;
        }
        a {
          text-decoration: underline;
          display: inline;
          font-weight: 700;
          color: $black-5;
          @include transition;
          &:hover {
            opacity: 7;
          }
        }
        .input {
          width: 16px;
          padding-top: 5px;
        }
      }
    }
  }
}
.info {
  margin: auto 0;
  padding: 25px 0 40px;
  &__inner {
    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      &._sm {
        align-items: flex-start;
      }
    }
  }
  &Item {
    width: calc(50% - 10px);
    background: $black-6;
    padding: 32px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    &._lg {
      width: 100%;
    }
    h2 {
      color: $primary-1;
    }
    &._sm {
      padding: 0;
      background: unset;
      align-items: flex-start;
    }
    &__question {
      background: $white;
      padding: 16px;
      box-shadow: $shadowEase;
      display: flex;
      align-items: center;
      gap: 15px;
      p {
        font-weight: 700;
        color: $black;
      }
    }
  }
  &Buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(50% - 10px);
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $blue-light;
      border-radius: 8px;
      padding: 16px;
      &-body {
        display: flex;
        align-items: center;
        gap: 25px;
      }
      h3 {
        width: calc(100% - 85px);
      }
    }
    .button {
      &--ico {
        height: 1.2em;
      }
    }
  }
}
.contact {
  padding: 15px 0 40px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px 0;
  }
  &Item {
    width: calc(33.3% - 10px);
    max-width: 352px;
    border-radius: 1em;
    box-shadow: $shadowEase-2;
    background: $white;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 1em;
    gap: 16px;
    &__info {
      width: calc(100% - 72px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      h4 {
        font-weight: 400;
        color: $black-3;
        width: calc(100% - 44px);
        strong {
          font-weight: 700;
        }
      }
    }
    &__image {
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    &__content {
      padding: 1em;
      box-shadow: $shadowEase-2;
      border-radius: 1em;
      max-width: 104px;
      width: calc(33.3% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include transition;
      &:hover {
        opacity: 0.7;
      }
    }
    &._row {
      box-shadow: unset;
      background-color: unset;
      padding: 0;
      justify-content: space-between;
    }
    .button {
      &--ico {
        height: 1.9em;
      }
    }
  }
}
@mixin index-1200 {
  .contact {
    &__inner {
      max-width: 1000px;
      margin: 0 auto;
    }
    &Item {
      width: calc(50% - 15px);
      max-width: unset;
    }
  }
}
@mixin index-1160 {
  .slider {
    &__inner {
      & &-swiper {
        .swiper {
          &-arrow-prev {
            transform: translateX(-50%);
            opacity: 0.8;
          }
          &-arrow-next {
            transform: translateX(50%);
            opacity: 0.8;
          }
        }
      }
    }
  }
  .info {
    &Item {
      gap: 15px;
      padding: 28px 35px;
    }
  }
}

@mixin index-1025 {
  .slider {
    &__inner {
      .tabs {
        gap: 25px;
      }
    }
  }
  .grid {
    &__inner {
      &-row {
        gap: 10px;
      }
    }
    &Item {
      width: calc(25% - 5px);
    }
  }
}
@mixin index-940 {
  .slider {
    &__inner {
      .tabs {
        &__item {
          font-size: 16px;
        }
      }
      & &-swiper {
        .swiper {
          &-arrow-prev,
          &-arrow-next {
            display: none;
          }
        }
      }
    }
  }
  .grid {
    &__inner {
      &-row {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &Item {
      width: calc(50% - 15px);
      max-width: 350px;
    }
  }
  .form {
    &__inner {
      &-body {
        flex-direction: column;
        gap: 30px;
        align-items: center;
      }
      &-info {
        width: 100%;
        max-width: 450px;
        &::before {
          width: 100%;
        }
        h3 {
          padding: 0.8em 2em;
        }
      }
      &-content {
        width: 100%;
        max-width: 450px;
      }
    }
  }
  .info {
    &__inner {
      &-body {
        gap: 20px;
      }
      &-row {
        flex-direction: column;
        justify-content: center;
        max-width: 630px;
        margin: 0 auto;
        width: 100%;
        grid-gap: 20px;
      }
    }
    &Item {
      width: 100%;
      padding: 25px;
      &__question {
        width: 100%;
        p {
          font-size: 16px;
        }
      }
    }
    &Buttons {
      width: 100%;
      h3 {
        font-weight: 400;
      }
    }
  }
}
@mixin index-840 {
  .contact {
    &__inner {
      max-width: 1000px;
      margin: 0 auto;
    }
    &Item {
      width: calc(50% - 5px);
      &__info {
        width: calc(100% - 55px);
      }
      &__image {
        width: 45px;
      }
      h4 {
        font-size: 14px;
      }
    }
  }
}
@mixin index-768 {
  .slider {
    &__inner {
      &-header {
        align-items: flex-end;
        &-title {
          width: unset;
          margin-bottom: unset;
        }
      }

      .tabs {
        order: 1;
        width: 100%;
        margin-top: 25px;
        gap: 10px;
        &__item {
          font-size: 16px;
        }
      }
    }
  }
}
@mixin index-670 {
  .grid {
    &__inner {
      &-row {
        gap: 20px 15px;
      }
    }
    &Item {
      width: calc(50% - 10px);
      &__content {
        &-title {
          padding-bottom: 0.2em;
        }
      }
    }
  }
  .contact {
    &__inner {
      max-width: 500px;
      gap: 10px;
    }
    &Item {
      width: 100%;
      gap: 10px;
    }
  }
}
@mixin index-580 {
  .slider {
    &__inner {
      &-header {
        &-title {
          font-size: 36px;
        }
        button {
          font-size: 14px;
        }
      }
    }
    .tabs {
      &__item {
        font-size: 14px;
        padding: 0.8em 1em;
      }
    }
  }
  .grid {
    padding: 10px 0 32px;
    &__inner {
      &-row {
        gap: 20px 10px;
      }
    }
    &Item {
      width: calc(50% - 5px);
      &__content {
      }
    }
  }
  .info {
    padding: 10px 0 32px;
    &Item {
      padding: 16px;
      gap: 10px;
    }
    &Buttons {
      &__item {
        h3 {
          width: calc(100% - 65px);
        }
        &-body {
          gap: 15px;
        }
      }
    }
  }
  .form {
    padding: 10px 0 32px;
  }
}
@mixin index-460 {
  .slider {
    &__inner {
      &-header {
        &-title {
          font-size: 32px;
        }
        button {
          font-size: 14px;
        }
      }
    }
    .tabs {
      gap: 3px;
      &__item {
        font-size: 13px;
        padding: 0.6em;
        white-space: nowrap;
      }
    }
  }
  .grid {
    &__inner {
      &-row {
        gap: 24px;
      }
    }
    &Item {
      width: 90%;
    }
  }
  .form {
    &__inner {
      &-info {
        h3 {
          padding: 1.2em;
        }
      }
      &-content {
        &-item {
          gap: 10px;
          p {
            font-size: 12px;
          }
          .checkbox {
            margin-top: 6px;
          }
        }
      }
    }
  }
}
@mixin index-340 {
  .grid {
    &__inner {
      &-row {
        gap: 20px;
      }
    }
    &Item {
      width: 100%;
    }
  }
  .contact {
    &__inner {
      max-width: 500px;
    }
    &Item {
      width: 100%;
      gap: 10px;
      font-size: 14px;
      &__info {
        width: calc(100% - 40px);
        h4 {
          font-size: 12px;
        }
      }
      &__image {
        width: 35px;
      }
    }
  }
}
