.slider {
  padding: 50px 0;
  &__inner {
    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 25px;

      &-title {
        font-size: 40px;
        margin-bottom: 1em;
        width: 100%;

        small {
          font-size: 0.68em;
          font-weight: 400;
        }
        h3 {
          font-size: inherit;
          line-height: 1.4em;
        }
      }
    }

    & &-swiper {
      position: relative;

      .swiper {
        margin: 0 -25px;
        padding: 10px 25px 50px 25px;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 30px;
          height: 100%;
          z-index: 1;
          background: linear-gradient(90deg, $white, transparent);
        }
        &::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 30px;
          height: 100%;
          background: linear-gradient(270deg, $white, transparent);
          z-index: 2;
        }
        &-arrow-prev,
        &-arrow-next {
          position: absolute;
          top: 40%;
          font-size: 20px;
          width: 2em;
          height: 2em;
          z-index: 1;
          background: rgba($black, 0.5);
          border-radius: 50%;
          transition: 0.2s ease-out;
          opacity: 0.5;
          color: $white;

          //display
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            opacity: 1;
          }
          &.swiper-button-disabled {
            opacity: 0;
          }

          .custIcon {
            pointer-events: none;
            &:before {
              border-width: 3px;
            }
          }
        }
        &-arrow-prev {
          left: 0;
          transform: translateX(calc(-100% - 10px));
        }
        &-arrow-next {
          right: 0;
          transform: translateX(calc(100% + 10px));
        }
      }
    }
  }
  &__item {
    display: flex !important;
    flex-direction: column;

    background: $white;
    box-shadow: $shadowEase;
    border-radius: 16px;
    overflow: hidden;
    height: unset !important;

    &-content {
      // /displayt
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px 15px 25px 15px;
      flex-grow: 1;

      font-size: 16px;
      line-height: 1.2;

      small {
        font-size: inherit;
        border-width: 400;
        margin-top: auto;
      }
    }
    &-badge {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-size: 14px;
      gap: 1em;

      &:before {
        content: "";
        width: 2.4em;
        height: 1.2em;
        border-radius: 2em;
        background: rgba($black, 0.4);
      }
    }
  }
}

@mixin index-1160 {
  .slider {
    &__inner {
      & &-swiper {
        .swiper {
          &-arrow-prev {
            transform: translateX(-50%);
            opacity: 0.8;
          }
          &-arrow-next {
            transform: translateX(50%);
            opacity: 0.8;
          }
        }
      }
    }
  }
}
@mixin index-1025 {
  .slider {
    &__inner {
      .tabs {
        gap: 25px;
      }
    }
  }
}

@mixin index-940 {
  .slider {
    &__inner {
      .tabs {
        &__item {
          font-size: 16px;
        }
      }
      & &-swiper {
        .swiper {
          &-arrow-prev,
          &-arrow-next {
            display: none;
          }
        }
      }
    }
  }
}

@mixin index-768 {
  .slider {
    &__inner {
      &-header {
        align-items: flex-end;
        &-title {
          width: unset;
          margin-bottom: unset;
        }
      }

      .tabs {
        order: 1;
        width: 100%;
        margin-top: 25px;
        gap: 10px;
        &__item {
          font-size: 16px;
        }
      }
    }
  }
}
@mixin index-580 {
  .slider {
    &__inner {
      &-header {
        &-title {
          font-size: 36px;
        }
        button {
          font-size: 14px;
        }
      }
    }
    .tabs {
      &__item {
        font-size: 14px;
        padding: 0.8em 1em;
      }
    }
  }
}
@mixin index-460 {
  .slider {
    &__inner {
      &-header {
        &-title {
          font-size: 32px;
        }
        button {
          font-size: 14px;
        }
      }
    }
    .tabs {
      gap: 3px;
      &__item {
        font-size: 13px;
        padding: 0.6em;
        white-space: nowrap;
      }
    }
  }
}
